<div class="wholePage">
  
  <div class="search-bar">
    <img src="../assets/img/logo.png" alt="" srcset="" />
    <div class="routerChangeBtn">
    <button mat-mini-fab style="background: white;" routerLink="/">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-mini-fab style="background: white;" routerLink="/episodes">
      <mat-icon>movie</mat-icon>
    </button>
  </div>
    <app-search-box class="searchbox"></app-search-box>
  </div>

  <router-outlet></router-outlet>
</div>
